<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lhx.dao.AvatarDao">

    <select id="getAvatar" parameterType="java.util.Map" resultType="com.lhx.model.Avatar">
        select avatarsId ,accountId ,avatarsPath
        from
        app_avatars
        limit #{start} , #{limit}
    </select>
    

</mapper>